carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display:block;
}
.img-fluid. max-width: 100%; height: auto;
}
.container{
	margin-top: 100px;
}
.container1{
    display: flex;
    align-items: center;
}
.contact{
    margin-top: 40px;
    margin-left: 220px;
}
.contactlist{
    margin-top: 40px;
}
.media-body{
    vertical-align: 
}