{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  body{
    background-color: #E5FAF8;
  }
  .container{
    margin-top: 100px;
  }
</style>
<div class="container container1">
    <div class="row">
      <div class="col-lg-4">
        <img src ="https://imgur.com/wcCx6gR.jpg" class="bd-placeholder-img rounded-circle" width="280" height="280" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-8">
          <div class="row">
            <div class="card">
              <div class="card-body">
                Hello, my name is Talitha Luthfiyah Dhany Maheswari and i’m currently a Computer Science student at University of Indonesia. I am a person who likes challenges and can adjust to situastions that are being experienced. I am easy to get along with my colleagues and can be responsible for carrying out and completing tasks given by my supervisor with the abilities that i have.
              </div>
            </div>
          </div>
          <div class="row">
            <div class="card contact">
              <div class="card-body">
                    <div class="display-4 ">CONTACT
                  </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/ZwPz2Mm.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Email</h5>
                  ldmtalitha@gmail.com
              </div>
            </div>    
          </div>
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/12N9pI5.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Twitter</h5>
                  @hmmbaiklah
              </div>
            </div>    
          </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/5zdM7OZ.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Telephone</h5>
                  081282395183
              </div>
            </div>    
          </div>
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/uZixprs.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Instagram</h5>
                  talithamheswari
              </div>
            </div>    
          </div>
          </div>
          <div class="row">
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/8hsZqPv.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Line</h5>
                  talithamaheswari
              </div>
            </div>    
          </div>
              <div class="col-lg-6">
                                  <div class="media contactlist">
              <img src="https://imgur.com/5FZ2nXv.png" class="mr-3" alt="...">
              <div class="media-body">
                  <h5 class="mt-0">Linkedin</h5>
                  Talitha Maheswari
              </div>
            </div>    
          </div>
          </div>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
    </div>
    <div class="col">
      <a href = "{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg ">BACK</button>
      </a>
    </div>
  </div>
<!-- Jumbotron -->
</div>
<!-- Jumbotron -->
</body>
</html>
{% endblock %}



