{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.card-deck{
		margin-bottom: 50px;
	}
	body{
		background-color: #E5FAF8;
	}
	.header{
		background-color: #7EA5E0;		
		font-family: Libre Baskerville;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
	}
  .accordion{
    margin-bottom: 100px;
  }
</style>
	<div class="jumbotron jumbotron-fluid header">
  	<div class="container">
    <h1 class="display-4 text-center">EDUCATION</h1>
  	</div>
	</div>
    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">ELEMENTARY SCHOOL
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        SDSN JOHAR BARU O1 PAGI, JOHAR BARU, JAKARTA PUSAT.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          JUNIOR HIGH SCHOOL
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        SMPN 216 JAKARTA, SALEMBA, JAKARTA PUSAT.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          SENIOR HIGH SCHOOL
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        SMAN 68 JAKARTA, SALEMBA, JAKARTA PUSAT.
      </div>
    </div>
  </div>
   <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          UNIVERSITY
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        UNIVERITAS INDONESIA, DEPOK, JAWA BARAT.
      </div>
    </div>
  </div>
</div>

	    <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
    </div>
    <div class="col">
      <a href = "{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg ">BACK</button>
      </a>
    </div>
  </div>
</body>
</html>
{% endblock %}