{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.card-deck{
		margin-bottom: 50px;
	}
	body{
		background-color: #E5FAF8;
	}
	.header{
		background-color: #7EA5E0;		
		font-family: Libre Baskerville;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
	}
</style>

	<div class="jumbotron jumbotron-fluid header">
  	<div class="container">
    <h1 class="display-4 text-center">EXPERIENCE</h1>
  	</div>
	</div>
	<div class="card-deck">
  		<div class="card">
  		<div class="card-header bg-danger mb-3 text-center"> 2017 - 2018 </div>
  		<div class="card-body">
    		<h5 class="card-title text-center">Head Of BARON</h5>
    		<p class="card-text text-center">Salemba Raya on News Extracurricular</p>
  		</div>
		</div>
  		<div class="card">
	  	<div class="card-header bg-danger mb-3 text-center"> 2018 - 2019 </div>
	  	<div class="card-body">
	    	<h5 class="card-title text-center">Staff of Public Relation Division</h5>
	    	<p class="card-text text-center">Wisuda Ganjil Fasilkom UI 2019</p>
	  	</div>
  		</div>
  		<div class="card">
  		<div class="card-header bg-danger mb-3 text-center"> 2019 </div>
  		<div class="card-body">
    		<h5 class="card-title text-center">Staff of Public Relation Division</h5>
    		<p class="card-text text-center">Computers Get Together 2019</p>
  		</div>
  		</div>
		</div>

		<div class="card-deck">
  		<div class="card">
  		<div class="card-header bg-danger mb-3 text-center"> 2019 </div>
  		<div class="card-body">
    		<h5 class="card-title text-center">Person in Charge of Public Relation Division</h5>
    		<p class="card-text text-center">Wisuda Genap Fasilkom UI 2019</p>
  		</div>
		</div>
  		<div class="card">
	  	<div class="card-header bg-danger mb-3 text-center"> 2019 - now </div>
	  	<div class="card-body">
	    	<h5 class="card-title text-center">Person in Charge of Public Relation Division</h5>
	    	<p class="card-text text-center">Open House Fasilkom UI 2019</p>
	  	</div>
  		</div>
  		<div class="card">
  		<div class="card-header bg-danger mb-3 text-center"> 2019 - now</div>
  		<div class="card-body">
    		<h5 class="card-title text-center">Staff of Public Relation Division</h5>
    		<p class="card-text text-center">BEM Fasilkom UI</p>
  		</div>
  		</div>
		</div>

	    <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
    </div>
    <div class="col">
       <a href = "{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg ">BACK</button>
      </a>
    </div>
  </div>
</body>
</html>
{% endblock %}