{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	body{
		background-color: #E5FAF8;
	}
	.header{
		background : url(https://imgur.com/jQV7RNZ.jpg);		
		font-family: Libre Baskerville;
		font-style: normal; 
		font-weight: normal;
		font-size: 72px;
    margin-bottom: 0px;
	}
  .secondheader{
    background: url(https://imgur.com/fZiXrum.jpg);
    margin-bottom: 80px;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .btn-circle-xl {
    width: 270px;
    height: 270px;
    line-height: 70px;
    font-size: 1.3rem;
    background-color: #DBC0E8;
    font-family: Libre Baaskerville;
    text-align: center;
    color: #000000;
}
  .btn-circle {
    width: 270px;
    height: 270px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    background-color: #DBC0E8;
    font-family: Libre Baskerville;

}
</style>

	<div class="jumbotron jumbotron-fluid header">
  	<div class="container">
    <h1 class="display-4 text-center">TALITHA MAHESWARI</h1>
  	</div>
	</div>
  <div class="jumbotron jumbotron-fluid secondheader">
    <div class="container">
    </div>
  </div>
     <div class="col-lg-12 mb-4">
      <a href = "{% url 'aboutme' %}"> 
          <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i>
            <h4 class="display-5 text-center">ABOUT ME</h4>
          </button>
        </a>
      <a href = "{% url 'skills' %}">
          <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i>
            <h4 class="display-5 text-center">SKILLS</h4>
          </button>
        </a>
      <a href = "{% url 'education' %}">
          <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i>
            <h4 class="display-5 text-center">EDUCATION</h4>
          </button>
        </a>
      <a href = "{% url 'experience' %}">
          <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i>
            <h4 class="display-5 text-center">EXPERIENCE</h4>
          </button>
        </a>
      <a href = "{% url 'swot' %}">
          <button class="btn btn-info btn-circle btn-circle-xl m-1"><i class="fa fa-paper-plane"></i>
            <h4 class="display-5 text-center">SWOT</h4>
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
{% endblock %}