<html>
<head>
	<title>talitha's Bio</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
	.card-deck{
		margin-bottom: 50px;
	}
	body{
		background-color: #E5FAF8;
	}
  .header{
    height : 80%;
    background : url(https://imgur.com/1Ji9se6.jpg);
  }
  .btn-block{
    background-color: #7EA5E0;
    height : 15%;
    font-size: 48px;
    font-family: Libre Baskerville;
    color :#00000;
  }
</style>

</head>
<body>
  <div class="jumbotron jumbotron-fluid header">
    <div class="container">
    </div>
  </div>
  <a href = "{% url 'home' %}">
    <button type="button" class="btn btn-primary btn-lg btn-block">Get To Know About Me</button>
  </a>
</body>
</html>