<html>
<head>
    <title>talitha's Bio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<style type="text/css">
    .card-deck{
        margin-bottom: 50px;
    }
    body{
        background-color: #E5FAF8;
    }
    .header{
        background-color: #7EA5E0;      
        font-family: Libre Baskerville;
        font-style: normal;
        font-weight: normal;
        font-size: 72px;
    }
  .accordion{
    margin-bottom: 100px;
  }

</style>
</head>
        </header>
<table class="table">
        <thead>
            <th>Kegiatan</th>
            <th>Waktu</th>
            <th>Tempat</th>
            <th>Kategori</th>
        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in schedule %}
            {% if i.kegiatan == 'Anonymous' or i.waktu == 'Anonymous' or i.tempat == 'Anonymous'%}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td> {{i.kegiatan}} </td>
                <td> {{i.waktu}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.kategori}} </td>
            </tr>             
            {% endfor %}
        </tbody>
    </table>


</body>
</html>