{% extends 'base.html' %}
{% block content %}
<style type="text/css">
    body{
        background-color: #E5FAF8;
    }
    #submit_button{
        position: relative;
        left: 40px;
        top: 110px;
        margin-bottom: 100px;
        
    }
    .form-group{
        width: 800px;
        position: relative;
        left: 40px;
        top: 50px;
    }

</style>
<div class="form-group">
<form id="form" method="POST" action="{%url 'schedule_post' %}">
{% csrf_token %}
{{schedule_form}}
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    </form>
    <form id="form2" method="POST" action="{%url 'schedule_post' %}">
        {% csrf_token %}
    <button type="submit" name="delete" class="btn btn-primary">Delete</button>
    </form>
</div>

</body>
</html>
{% endblock %}
