{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.card-deck{
		margin-bottom: 50px;
	}
	body{
		background-color: #E5FAF8;
	}
	.header{
		background-color: #7EA5E0;		
		font-family: Libre Baskerville;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
	}
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .rounded-circle {
    margin-bottom: 50px;
  }
  #circle-1{
    background-image: "https://imgur.com/yfWADSD.jpg";
  }
</style>
	<div class="jumbotron jumbotron-fluid header">
  	<div class="container">
    <h1 class="display-4 text-center">SKILLS</h1>
  	</div>
	</div>
  <div class ="container">
  <div class="row">
      <div class="col-3">
        <img src="https://imgur.com/wW47hyW.jpg" class="bd-placeholder-img rounded-circle" width="170" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <p >I am able to code in several programming languages, that includes Java, Python, and HTML/CSS.</p>
      </div>
      <div class="col-3">
        <img src="https://imgur.com/OAJQd02.jpg" class="bd-placeholder-img rounded-circle" width="170" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <p>I am proficient in public relation field as i had a lot of experience. I am confident of my public speaking skills.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-3">
        <img src="https://imgur.com/OLcROY0.jpg" class="bd-placeholder-img rounded-circle" width="170" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <p>I can work well in a team because i had been involved in several comitee experience as well as some organization.</p>
      </div>
      <div class="col-3">
        <img src="https://imgur.com/9v0YMxR.jpg" class="bd-placeholder-img rounded-circle" width="170" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
        <p>I am able to do some design or editing on Adobe Illustrator as i had used it several times.</p>
      </div>
    </div>
  </div>

	    <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
    </div>
    <div class="col">
      <a href = "{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg ">BACK</button>
      </a>
    </div>
  </div>
</body>
</html>
{% endblock %}