{% extends 'base.html' %}
{% block content %}
<style type="text/css">
	.card-deck{
		margin-bottom: 50px;
	}
	body{
		background-color: #E5FAF8;
	}
	.header{
		background-color: #7EA5E0;		
		font-family: Libre Baskerville;
		font-style: normal;
		font-weight: normal;
		font-size: 72px;
    margin-bottom: 0px;
	}

.lined .nav-link {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link:hover {
  border: none;
  border-bottom: 3px solid transparent;
}

.lined .nav-link.active {
  background: none;
  color: #555;
  border-color: #2b90d9;
}
</style>
	<div class="jumbotron jumbotron-fluid header">
  	<div class="container">
    <h1 class="display-4 text-center">SWOT</h1>
  	</div>
	</div>
  <div class="p-5 bg-white rounded shadow mb-5">
    <ul id="myTab2" role="tablist" class="nav nav-tabs nav-pills with-arrow lined flex-column flex-sm-row text-center">
      <li class="nav-item flex-sm-fill">
        <a id="STRENGTHS-tab" data-toggle="tab" href="#STRENGTHS" role="tab" aria-controls="STRENGTHS" aria-selected="true" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0 active">STRENGTHS</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="WEAKNESSES-tab" data-toggle="tab" href="#WEAKNESSES" role="tab" aria-controls="WEAKNESSES" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">WEAKNESSES</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="OPPORTUNITIES-tab" data-toggle="tab" href="#OPPORTUNITIES" role="tab" aria-controls="OPPORTUNITIES" aria-selected="false" class="nav-link text-uppercase font-weight-bold rounded-0">OPPORTUNITIES</a>
      </li>
      <li class="nav-item flex-sm-fill">
        <a id="THREATS-tab" data-toggle="tab" href="#THREATS" role="tab" aria-controls="THREATS" aria-selected="false" class="nav-link text-uppercase font-weight-bold mr-sm-3 rounded-0">THREATS</a>
      </li>
    </ul>
    <div id="myTab2Content" class="tab-content">
      <div id="STRENGTHS" role="tabpanel" aria-labelledby="STRENGTHS-tab" class="tab-pane fade px-4 py-5 show active">
        <p class="leade font-italic">I am a very creative person and can work under heavy pressure. I also have a lot of experience in the field of public relations so that it allows me to work in teams. Besides that, I can also communicate well with many people. I also have a high commitment to the work that I carry and I feel able to work very well in the field that I take.</p>
      </div>
      <div id="WEAKNESSES" role="tabpanel" aria-labelledby="WEAKNESSES-tab" class="tab-pane fade px-4 py-5">
        <p class="leade font-italic">I have a strong, compulsive need to do things quickly and remove them from my "to do" list, and sometimes the quality of my work suffers as a result. This same need to get things done also causes me stress when I have too many tasks. I am also too much of a perfectionist for the work I do so that if the job does not match what I want then I will be very disappointed.</p>
      </div>
      <div id="OPPORTUNITIES" role="tabpanel" aria-labelledby="OPPORTUNITIES-tab" class="tab-pane fade px-4 py-5">
        <p class="leade font-italic"> I study in computer science and am interested in exploring matters relating to this industry. Besides that, I have worked with many people so that my relationships can be said to be quite a lot. I am also supported by my parents in doing things that I like.</p>
      </div>
      <div id="THREATS" role="tabpanel" aria-labelledby="THREATS-tab" class="tab-pane fade px-4 py-5">
        <p class="leade font-italic"> I feel there are still many of my competitors who are competent in this field. The time I have at this time is divided by my lecture time and my organization in college so that in my time affairs are somewhat less flexible.</p>
    </div>
    <!-- End lined tabs -->
  </div>
</div>

	    <div class="row">
    <div class="col">
    </div>
    <div class="col-9">
    </div>
    <div class="col">
      <a href = "{% url 'home' %}">
        <button type="button" class="btn btn-primary btn-lg ">BACK</button>
      </a>
    </div>
  </div>
</body>
</html>
{% endblock %}